@font-face {
  font-family: "Cursed Timer ULiL";
  src: url(./font/CursedTimerUlil-Aznm.ttf);
}

.container {
  display: flex;
  background-color: #1b244a;
  justify-content: center;
  gap: 200px;
  width: 50%;
  height: 430px;
  margin: 50px auto 0 auto;
}

.guest,
.home {
  text-align: center;
}

.title {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #eeeeee;
  font-weight: bold;
  font-size: 40px;
}

.mark {
  background-color: black;
  color: white;
  font-family: "Cursed Timer ULiL";
  font-size: 90px;
  color: #f94f6d;
  width: 155px;
  height: 130px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 26px;
}

.guest-scoremarks {
  display: flex;
  width: 100%;
  justify-content: space-around;
  color: #9aabd8;
  font-size: 18px;
  font-family: "Cursed Timer ULiL";
  gap: 9px;
}

.guest-scoremarks button {
  width: 45px;
  height: 45px;
  border: 2px solid #9aabd8;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1b244a;
  color: #9aabd8;
  font-family: "Cursed Timer ULiL";
}

.new-gamebtn {
  border: 2px solid #9aabd8;
  border-radius: 8px;
  font-family: "Cursed Timer ULiL";
  color: #f94f6d;
  font-size: 25px;
  background-color: #1b244a;
  margin-top: 20px;
  padding: 10px;
}
